/* Page Layouts */

.ui-widget {
   font-size: 12px;
}

#viewport {
   position: relative;
   width   : 95vw;
   height  : 90vh;
   padding : 5px 5px 0px 0px;
}

/* Columns */

#left {
   vertical-align: top;
   width         : 15vw;
}

#right {
   vertical-align: top;
   height        : 100vh;
   min-height    : 500px;
   max-height    : 90%;
   width         : 77vw;
   max-width     : 77vw;
   width         : auto;
   overflow      : hidden;
}

/* Filters */

#filters {
   padding: 10px;
   width  : 15vw;
}

#tabs {
   position  : relative;
   display   : block;
   height    : 90vh;
   min-height: 500px;
   max-height: 90%;
   overflow  : hidden;
}

#searchform {
   position: absolute;
   top     : 12px;
   right   : 50px;
}

#testcases {
   min-height: 500px;
   max-height: 90%;
   overflow  : auto;
}

#details {
   min-height: 500px;
   max-height: 90%;
   overflow  : auto;
}

#details_header {
   position     : relative;
   display      : block;
   width        : 100%;
   border-bottom: 1px dotted;
}

#details_log {
   position: relative;
   display : block;
   width   : 100%;
}

.ui-expandable .ui-widget-header {
   margin       : 3px;
   font-weight  : bold;
   font-size    : 12px;
   background   : none;
   border       : none;
   border-bottom: 1px dotted;
}

.ui-expandable-title {
   margin-left  : 5px;
   margin-bottom: 10px;
}


.ui-expandable .ui-widget-content {
   border    : none;
   padding   : 0 0 5px 18px;
   background: transparent;
}

.testcase {
   width           : 95%;
   height          : 20px;
   display         : block;
   margin          : 10px;
   padding         : 5px 8px 5px 10px;
   background-color: #eeeeee;
   border          : 1px dotted;
}

.testcase .testcase_name {
   float      : left;
   height     : 15px;
   padding    : 3px 5px;
   font-weight: bold;
}

.testcase .testcase_status {
   float: right;
}

.testcase_status .testcase_success {
   float           : left;
   height          : 15px;
   margin-left     : 5px;
   padding         : 2px 4px 2px 4px;
   background-color: #70ff70;
   border          : 1px solid;
}

.testcase_status .testcase_failure {
   float           : left;
   height          : 15px;
   margin-left     : 5px;
   padding         : 2px 4px 2px 4px;
   background-color: #ff7070;
   border          : 1px solid;
}

.testcase_status .testcase_none {
   float           : left;
   height          : 15px;
   margin-left     : 5px;
   padding         : 2px 4px 2px 4px;
   background-color: #f2f2f2;
   border          : 1px solid;
   color           : #d0d0d0;
}






.widget-filter {
   border       : 1px solid #909090;
   border-radius: 8px;
   width        : 100%;
   padding      : 8px;
   font-family  : Verdana, Arial, sans-serif;
   font-size    : 12px;
}



.expandable-widget {
   border     : none;
   width      : 100%;
   margin     : 8px 5px 20px 5px;
   font-family: Verdana, Arial, sans-serif;
   font-size  : 12px;
}

._expandable-widget-header {
   display      : flex;
   align-items  : center;
   padding      : 5px;
   border-bottom: 1px dotted;
   font-family  : Verdana, Arial, sans-serif;
   font-size    : 14px;
}

._expandable-widget-header span {
   margin-left: 5px;
}

._expandable-widget-header::before {
   content     : "";
   display     : inline-block;
   cursor      : pointer;
   width       : 0;
   height      : 0;
   margin-right: 8px;
   border-style: solid;
   border-width: 8px 5px 0px 5px;
   border-color: #606060 transparent transparent transparent;
   transition  : transform 0.3s;
}

._expandable-widget-header.collapsed::before {
   transform: rotate(-90deg);
}

._expandable-widget-content {
   font-size: 12px;
   display  : none;
   padding  : 0pt 8px 0px -2px;
}

._expandable-widget-content.visible {
   display: block;
}