/tmp
/out-tsc

/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js

.vscode/*

/xxx.tar.gz
/xxx/
/build/
/package-lock.json
/.idea
.DS_Store
/coverage

src/main/resources/js/*.js
[A-Z]*.md

/_*
