/*
    Filters
*/

#filters {
  padding: 10px;
  width: 15vw;
  border: none;
  border-right: dotted 1px #909090;
}

.widget-filter {
  border: none;
  /*border       : 1px solid #909090;
  border-radius  : 8px;*/
  width: 100%;
  padding: 8px;
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
}

.widget-filter-buttons {
  float: right;
}

.filter-item-off {
  color: #938e8e !important;
}

