/* Page Layouts */

.ui-widget {
    font-size: 12px;
}

#viewport {
    position: relative;
    width: 95vw;
    height: 90vh;
    padding: 5px 5px 0 0;
}

/*
     Columns
*/

#left {
    vertical-align: top;
    width: 15vw;
}

#right {
    vertical-align: top;
    height: 97vh;
    min-height: 500px;
    max-height: 90%;
    width: 77vw;
    max-width: 77vw;
    overflow: hidden;
}

/*
    Expandable widgets
 */

.expandable-widget {
    border: none;
    width: 100%;
    margin: 8px 5px 20px 5px;
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
}

._expandable-widget-header {
    display: block;
    align-items: center;
    padding: 5px;
    border-bottom: 1px dotted;
    font-family: Verdana, Arial, sans-serif;
    font-size: 14px;
}

._expandable-widget-header span {
    margin-left: 5px;
    font-weight: bold;
    cursor: pointer;
}

._expandable-widget-header span::before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    margin-right: 8px;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: #606060 transparent transparent transparent;
    transition: transform 0.3s;
}

._expandable-widget-header.collapsed span::before {
    transform: rotate(-90deg);
}

._expandable-widget-content {
    font-size: 12px;
    display: none;
    padding: 0 8px 0 -2px;
}

._expandable-widget-content.visible {
    display: block;
}

._expandable-widget-content select option {
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 15px;
}


/*
    Filters
*/

#filters {
    padding: 10px;
    width: 15vw;
    border: none;
    border-right: dotted 1px #909090;
}

.widget-filter {
    border: none;
    /*border       : 1px solid #909090;
    border-radius  : 8px;*/
    width: 100%;
    padding: 8px;
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
}

.widget-filter-buttons {
    float: right;
}

.filter-item-off {
    color: #938e8e !important;
}

/*
     specitems
 */

#specitems-tab {
    height: 95%;
    overflow: hidden;
}

#specitems {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

.specitem {
    display: block;
    cursor: default;
}

._specitem-header {
    height: 20px;
    padding: 8px 8px 5px 10px;
}

._specitem-name {
    font-weight: bold;
    float: left;
    height: 15px;
    margin-left: 5px;
    padding: 2px 4px 2px 4px;
}

._specitem-status {
    float: right;
    margin: 3px 3px 3px 3px;
}

._specitem-body {
    font-size: 14px;
    margin: 5px 3px 3px 3px;
    //padding: 2px 4px 2px 4px;
    padding: 7px 12px 7px 14px;
    //background-color: #eeeeee;
}

._specitem-none {
    float: left;
    height: 15px;
    margin-left: 5px;
    padding: 2px 4px 2px 4px;
    background-color: #f4f4f4;
    border: 1px solid;
    border-radius: 3px;
}

._specitem-covered {
    float: left;
    height: 15px;
    margin-left: 5px;
    padding: 2px 4px 2px 4px;
    background-color: #b7f3b7;
    border: 1px solid;
    border-radius: 3px;
}

._specitem-uncovered {
    float: left;
    height: 15px;
    margin-left: 5px;
    padding: 2px 4px 2px 4px;
    background-color: #f3c5c5;
    border: 1px solid;
    border-radius: 3px;
}

._specitem-draft {
    float: left;
    color: #605454;
    font-weight: bold;
    padding: 2px 4px 2px 4px;
}

._specitem-selected {
    background-color: #ccd6d6 !important;
}

._specitem-mouse-enter {
    background-color: #ebf1f1 !important;
}

._specitem-mouse-leave {
    background-color: #ffffff;
}

#focusitem {
    margin: 0 0 5px;
    padding: 0;
}

._focuspecitem {
    margin: 0;
    padding: 0;
    border: solid 1px #505050;
    border-radius: 8px;
    background-color: #eff3ef;
}

._specitem-cover-type {
    text-align: center;
    color: #ffffff;
    display: block;
    font-size: 14px;
    padding: 5px 4px 5px 4px;
    background-color: #505050;
}


/* Other */

#tabs {
    position: relative;
    display: block;
    height: 90vh;
    min-height: 500px;
    max-height: 90%;
    overflow: hidden;
}

#searchform {
    position: absolute;
    top: 12px;
    right: 50px;
}

#testcases {
    min-height: 500px;
    max-height: 90%;
    overflow: auto;
}

#details {
    min-height: 500px;
    max-height: 90%;
    overflow: auto;
}

#details_header {
    position: relative;
    display: block;
    width: 100%;
    border-bottom: 1px dotted;
}

#details_log {
    position: relative;
    display: block;
    width: 100%;
}

.ui-expandable .ui-widget-header {
    margin: 3px;
    font-weight: bold;
    font-size: 12px;
    background: none;
    border: none;
    border-bottom: 1px dotted;
}

.ui-expandable-title {
    margin-left: 5px;
    margin-bottom: 10px;
}


.ui-expandable .ui-widget-content {
    border: none;
    padding: 0 0 5px 18px;
    background: transparent;
}

.testcase {
    width: 95%;
    height: 20px;
    display: block;
    margin: 10px;
    padding: 5px 8px 5px 10px;
    background-color: #eeeeee;
    border: 1px dotted;
}

.testcase .testcase_name {
    float: left;
    height: 15px;
    padding: 3px 5px;
    font-weight: bold;
}

.testcase .testcase_status {
    float: right;
}

.testcase_status .testcase_success {
    float: left;
    height: 15px;
    margin-left: 5px;
    padding: 2px 4px 2px 4px;
    background-color: #70ff70;
    border: 1px solid;
}

.testcase_status .testcase_failure {
    float: left;
    height: 15px;
    margin-left: 5px;
    padding: 2px 4px 2px 4px;
    background-color: #ff7070;
    border: 1px solid;
}

.testcase_status .testcase_none {
    float: left;
    height: 15px;
    margin-left: 5px;
    padding: 2px 4px 2px 4px;
    background-color: #f2f2f2;
    border: 1px solid;
    color: #d0d0d0;
}